.booking-list-item {
    width: calc(70% - 100px);
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    transition: background-color 0.3s, box-shadow 0.3s;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

.delete-booking-button {
    border: none;

    text-decoration: none;
    background-color: #c0392b;
    transition: background-color 0.3s;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}

.delete-booking-button:hover {
    background-color: #e74c3c;
}
.booking-list-item:hover {
    background-color: #F5F5F5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    
}