.room-results {
    display: block;
    flex-wrap: wrap;
    margin: 10px 30px;
}
.room-list-item {
    width: calc(95% - 20px);
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.room-list-item-image {
    width: 180px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0; /* Prevents the image from shrinking when space is limited */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
.room-details {
    flex: 1;
    padding: 15px;
    text-align: start;
}
.room-details p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.room-details h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.book-now-div {
    align-self: center;
}
.book-now-button, .edit-room-button {
    background-color:  #003b95;
    color: white;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
    transition: background-color 0.3s;
}
.book-now-button:hover {
    background-color: rgb(37, 110, 188);
}

.book-now-button:hover,
.edit-room-button:hover {
    background-color: rgb(37, 110, 188);
}

.book-now-button:active, .edit-room-button:active {
    transform: scale(0.96);
}